{% extends "BaklavaBorekBundle::layout.html.twig" %}

{% block content %}
    <div id="order-form-wrapper" xmlns="http://www.w3.org/1999/html">
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
        <ul class="items" data-prototype="{{ form_widget(form.item.vars.prototype)|e('html_attr') }}">
            {% for item in form.item%}
                <li>{{ form_row(item) }}</li>
            {% endfor %}
        </ul>
        <input type="submit" title="submit">
        {{ form_end(form) }}
    </div>
{% endblock %}
